[submodule "external/link"]
	path = external/link
	url = https://github.com/Ableton/link.git
[submodule "external/Push3Compiler"]
	path = external/Push3Compiler
	url = https://github.com/JGuzak/Push3Compiler.git
